@media screen and (max-width: 900px) {

  /* about */

  .skills-wrapper {
    grid-template-columns: repeat(3, minmax(0, 30rem));
  }

}

@media screen and (max-width: 600px) {

  /* typography */

  .section-title {
    font-size: 1.75rem;
  }

  /* reused style */

  .container {
    width: 90%;
    padding: 2rem 1rem;
  }

  /* header */

  .site-header .container {
    padding-inline: 0.5rem;
  }

  .brand {
    font-size: 0.5rem;
  }

  .navbar-ul {
    gap: 0;
  }

  .navbar-item {
    font-size: 0.5rem;
    padding-left: 0.5em;
  }

  /* hero */

  .hero .hero-content {
    background-image: url('../img/home-background-img-mobile.png');
  }

  .hero-text-wrapper {
    bottom: 5%;
    left: 7%;
    text-align: left;
  }

  .hero-title {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.15;
  }

  .hero-title span {
    font-size: 3rem;
    color: white;
  }

  .hero-subtitle {
    font-size: 1rem;
    line-height: 1.15;
    margin-top: 0.5em;
  }

  /* about */

  .about .container {
    flex-direction: column;
    gap: 3em;
  }

  .about-content {
    width: 100%;
    gap: 2em;
  }

  .about-content h2 {
    padding: 0;
    font-size: 1.75rem;
  }

  .about-content p {
    font-size: 1rem;
  }

  .about-img {
    width: 80%;
  }

  .skills-wrapper {
    grid-template-columns: repeat(2, minmax(0, 30rem));
    padding: 0;
  }

  /* achievements */

  .achieve .container {
    width: 90%;
  }

  .achieve ul {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 30rem));
  }

  .achieve ul h3 {
    font-size: 1rem;
  }

  .achieve ul p {
    font-size: 0.8rem;
  }

  /* contact */

  .contact-content {
    gap: 0.5em;
  }

  .contact-wrapper p {
    font-size: 1rem;
  }
  
}