<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lee Devin Gerrard - Portfolio</title>
    <meta name="title" content="Lee Devin - Personal Website">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <!-- favicon -->
    <link rel="shortcut icon" href="" type="">

    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caprasimo&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Joan&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <!-- css -->
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/responsive.css">
  </head>

  <body>

    <!-- --------------------------- HEADER --------------------------- -->

    <header class="site-header">
      <div class="container">

        <a href="#" class="brand">
          LEE DEVIN GERRARD
        </a>
        
        <nav>
          <ul class="navbar-ul">

            <li class="navbar-item">
              <a href="#about" class="navbar-link">
                ABOUT
              </a>
            </li>

            <li class="navbar-item">
              <a href="#projects" class="navbar-link">
                PROJECTS
              </a>
            </li>

            <li class="navbar-item">
              <a href="#achievements" class="navbar-link">
                ACHIEVEMENTS
              </a>
            </li>

            <li class="navbar-item">
              <a href="#contact" class="navbar-link">
                CONTACT
              </a>
            </li>

          </ul>
        </nav>

      </div>
    </header>

    <!-- ----------------------------- HERO ----------------------------- -->

    <section class="hero text-center section-page" aria-label="home" id="home">

      <div class="container">

        <li class="hero-content">
          <div class="hero-text-wrapper">
            <h1 class="hero-title">
              LEE DEVIN <span>GERRARD</span>
            </h1>
            <h2 class="hero-subtitle">Computer Science &middot; Universitas Indonesia</h2>
          </div>
        </li>

      </div>

    </section>

    <!-- ---------------------------- ABOUT ---------------------------- -->

    <section class="about text-center" aria-labelledby="about-label" id="about">

      <div class="container">

        <div class="about-img containing-img">
          <img src="../static/img/profile-picture.jpg" loading="lazy" alt="Photo of Lee Devin">
        </div>
        
        <div class="about-content containing-text">
          <h2 class="section-title">ABOUT ME</h2>
          <p>I am a highly motivated Computer Science student at Universitas Indonesia. I love learning new things, building things, breaking things, and figuring out why they work the way they do. I'm currently discovering the world of cybersecurity and AI.</p>
          <div class="skills-wrapper containing-text">
            <button>HTML, CSS, JS</button>
            <button>MERN</button>
            <button>Java</button>
            <button>Python</button>
            <button>Linux</button>
          </div>
        </div>

      </div>

    </section>

    <!-- -------------------------- ACHIEVEMENTS -------------------------- -->

    <section class="achieve text-center" aria-labelledby="achieve-label" id="achievements">

      <div class="container">

        <div class="section-title">
          ACHIEVEMENTS
        </div>

        <ul>
          <li class="li-1-1 containing-img">
            <div class="img-container">
              <img src="../static/img/sertif-osnk-2024.png" loading="lazy" alt="Certificate of OSNK 2024">
            </div>
            <h3>1st Place in The City Level National Informatics Olympiad</h3>
            <p>Issued by Pusat Prestasi Nasional | 2024</p>
          </li>
          <li class="li-1-2 containing-img">
            <div class="img-container">
              <img src="../static/img/sertif-osnk-2023.png" loading="lazy" alt="Certificate of OSNK 2023">
            </div>
            <h3>3rd Place in The City Level National Informatics Olympiad</h3>
            <p>Issued by Pusat Prestasi Nasional | 2023</p>
          </li>
          <li class="li-1-3 containing-img">
            <div class="img-container">
              <img src="../static/img/sertif-nusput.png" loading="lazy" alt="Certificate of Speech Nusa Putra">
            </div>
            <h3>1st Place in English Fest Speech Competition</h3>
            <p>Issued by Nusa Putra University | 2024</p>
          </li>
        </ul>

      </div>

    </section>

    <!-- ---------------------------- CONTACT ---------------------------- -->
    
    <section class="contact text-center" aria-labelledby="contact-label" id="contact">

      <div class="container">

        <div class="section-title">
          CONTACT
        </div>

        <div class="contact-content containing-text">

          <div class="contact-wrapper">
            <ion-icon name="mail-outline"></ion-icon>
            <p>leedevgerrard@gmail.com</p>
          </div>
          <div class="contact-wrapper">
            <ion-icon name="call-outline"></ion-icon>
            <p>+62 813 8850 2930</p>
          </div>

        </div>

      </div>

    </section>

    <!-- ---------------------------- FOOTER ---------------------------- -->

    <footer class="footer text-center">

      <div class="container">

        <div class="social-media-wrapper">
          <a href="https://www.instagram.com/leedevgerrard/" target="_blank" rel="noopener noreferrer" class="social-media-link instagram-link">
            <ion-icon name="logo-instagram"></ion-icon>
          </a>
          <a href="https://www.linkedin.com/in/lee-devin-gerrard" target="_blank" rel="noopener noreferrer" class="social-media-link linkedin-link">
            <ion-icon name="logo-linkedin"></ion-icon>
          </a>
          <a href="https://www.github.com/leedevgerrard" target="_blank" rel="noopener noreferrer" class="social-media-link linkedin-link">
            <ion-icon name="logo-github"></ion-icon>
          </a>
        </div>

        <div class="footer-copyright">
          <p>&copy; 2025 by Lee Devin Gerrard</p>
        </div>

      </div>

    </footer>

    <!-- ionicon link -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  </body>
</html>