<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lee Devin Gerrard - Portfolio</title>
    <meta name="title" content="Lee Devin - Personal Website">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <!-- favicon -->
    <link rel="shortcut icon" href="" type="">

    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caprasimo&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Joan&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <!-- css -->
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/responsive.css">
  </head>

  <body>

    <!-- --------------------------- HEADER --------------------------- -->

    <header class="site-header">
      <div class="container">

        <a href="#" class="brand">
          LEE DEVIN GERRARD
        </a>
        
        <nav>
          <ul class="navbar-ul">

            <li class="navbar-item">
              <a href="#about" class="navbar-link">
                ABOUT
              </a>
            </li>

            <li class="navbar-item">
              <a href="#projects" class="navbar-link">
                PROJECTS
              </a>
            </li>

            <li class="navbar-item">
              <a href="#achievements" class="navbar-link">
                ACHIEVEMENTS
              </a>
            </li>

            <li class="navbar-item">
              <a href="#contact" class="navbar-link">
                CONTACT
              </a>
            </li>

          </ul>
        </nav>

      </div>
    </header>

    <!-- ----------------------------- HERO ----------------------------- -->

    <section class="hero text-center section-page" aria-label="home" id="home">

      <div class="container">

        <li class="hero-content">
          <div class="hero-text-wrapper">
            <h1 class="hero-title">
              LEE DEVIN <span>GERRARD</span>
            </h1>
            <h2 class="hero-subtitle">Computer Science &middot; Universitas Indonesia</h2>
          </div>
        </li>

      </div>

    </section>

    <!-- ---------------------------- ABOUT ---------------------------- -->

    <section class="about text-center" aria-labelledby="about-label" id="about">

      <div class="container">

        <div class="about-img containing-img">
          <img src="../static/img/profile-picture.jpg" loading="lazy" alt="Photo of Lee Devin">
        </div>
        
        <div class="about-content containing-text">
          <h2>ABOUT ME</h2>
          <p>I am a highly motivated Computer Science student at Universitas Indonesia. I love learning new things, building things, breaking things, and figuring out why they work the way they do. I'm currently discovering the world of cybersecurity and AI.</p>
          <div class="skills-wrapper containing-text">
            <button>HTML, CSS, JS</button>
            <button>MERN</button>
            <button>Java</button>
            <button>Python</button>
            <button>Linux</button>
          </div>
        </div>

      </div>

    </section>

  </body>
</html>